<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Janken GAME!</title>
</head>
<body>
    <a href="/logout">ログアウト</a>

    <h1>Janken GAME!</h1>
    <h3>エントリー</h3>
    <ul th:each="entry : ${#authentication.name}">
        <li th:text="${entry}"></li>
    </ul>

    <p>Hi <span th:text="${username}"></span></p>

    <h3>じゃんけんをしてください:</h3>
    <ul>
        <li><a th:href="'/janken?hand=グー'">ぐー</a></li>
        <li><a th:href="'/janken?hand=ちょき'">ちょき</a></li>
        <li><a th:href="'/janken?hand=ぱー'">ぱー</a></li>
    </ul>

    <div th:if="${userHand != null}">
        <p>あなたの手: <span th:text="${userHand}"></span></p>
        <p>相手の手: <span th:text="${cpuHand}"></span></p>
        <p>結果: <span th:text="${result}"></span></p>
    </div>
</body>
</html>
